* {
    box-sizing: border-box;
}

body {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 60%);
    min-height: 625px;
    border: 8px solid #d1c115e1;
}


marquee {background-color: #d1c115e1; color: #0B0925; padding: 2px 0; text-align: left}
marquee .spright {padding-left: 200px; font-size: 23px; font-family: cursive; color: white;}
marquee ul {list-style: none}
marquee ul li {display: inline-block}
marquee ul li a {color: #0B0925; text-decoration: none; font-size: 17px; padding: 12px; margin-left: 14px;}
marquee ul li .ayamail:hover {color: #D74B40;}
marquee ul li .ayalinkedin:hover {color: #1977F3;}
marquee ul li .ayagithub:hover {color: #5a0054;}
marquee ul li .ayakaggle:hover {color: #74a4e2;}
marquee ul li .ayafacebook:hover {color: #00306e;}
html {scroll-behavior: smooth;}


.see_more {
    text-decoration: none;
    position:absolute; left:70px; top:95px;
    font-size: 20px;
    font-weight: bold;
    color: #D1C215;
    font-family: Trebuchet MS;
}


.see_more:hover {
    text-decoration: none;
    color: #ddd793e1;
    font-size: 18.5px;
}


.header {
    color: rgba(255, 255, 255, 0.808);
    text-align: center;
    font-size: 45px;
    margin-top: 90px;
    font-family: 'Angelic Bonques Free';
    text-shadow: 0 4px 7px #111111d2;
}

.message {
    color: rgba(255, 255, 255, 0.808);
    font-family: Trebuchet MS;
    font-size: 20px;
    margin-left: 32%;
}

.parent{
    margin: 0 auto;
}

/* .file this is the class of input , and here i make this code to display the default input file */
.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

/* .file-input is the class of parent div , and here i but the uploaded button beside selected filename */
.file-input{
    display: grid; 
    border: 2px solid #D1C215;
    border-radius: 24px;
    grid-template-columns: 1fr 5fr; 
    background-color: #050411a1;
    box-shadow: 0 4px 5px #111111d2;
    width: 550px;
    max-height: 49px;
    margin-left: 32%;
    margin-top: 20px;
}

.file-input:hover {
    transition: all 300ms ease;
    border: 2px solid #ffffff;
    border-radius: 24px;
}
 

/* .file-input this is the class of parent div , and here i make this code to make style for input file */
.file-input label {
    display: block;
    position: relative;
    width: 170px;
    height: 45px;
    border: 2px solid #D1C215;
    border-radius: 25px;
    background: linear-gradient(147deg, #000000 0%, #0F0C31 74%);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D1C215;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

  input:hover + label,
  input:focus + label {
    transform: scale(1.02);
  }

  input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
  }
  
.selected-name{
    color:rgba(255, 255, 255, 0.808);
    font-size: 15px;
    font-family: Trebuchet MS;
    margin-left: 20px;
    text-shadow: 0 1px 1px #d0d0d0d2;
}


.button{
    margin-left: 47%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.button input{
    width: 120px;
    font-size: 17px;
    background-color: #D1C215; 
    border: 2px solid #000; 
    color: #0B0925; 
    font-style: bold; 
    font-family: "Angelic Bonques Free"; 
    font-size: 19px;
}


.displayed_image {
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.displayed_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.prediction_label{
    color: white;
    margin-top: 20px;
    font-size: 25px;
    font-family: Trebuchet MS; 
    text-shadow: 4px 4px 4px black;
}

.fir_span {
    color: white;
    font-size: 17px;
    font-family: Trebuchet MS;
    text-shadow: 1px 1px 1px black;
}

.sec_span {
    color: #D1C215;
    font-style: bold;
    font-size: 18px;
    font-family: Trebuchet MS;
    text-shadow: 2px 2px 2px black;
}
